<%= form_for @user do |f| %>
  <% if @user.errors.present? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @user.errors.messages.each do |field, messages| %>
        <li><%= "#{field}: #{messages.join(', ')}" %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-default' %>
  </div>

<% end %>
